@import url(base.css);
@import url(reset.css);

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--l-l-space);
    background-color: var(--white);
}

/* GLOBAL TAGS STYLES */
a,
a:active {
    color: var(--iris);
}

/* TEXT STYLES */
.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--l-l-space);
    margin: 0 auto;
    text-align: center;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: var(--l-l-space);
    text-transform: capitalize;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 72px;
}
.element-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--navy-blue);
    letter-spacing: var(--l-l-space);
}
.text {
    font-size: 16px;
}

/* ELEMENTS STYLES */
.section {
    padding: 120px 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.column {
    flex-direction: column;
}
.flex {
    display: flex;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}
/* HEADER STYLES */
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    .logo {
        margin-right: 76px;
    }
    .address {
        margin-left: 332px;
        font-style: normal;
    }
    .logo-span {
        color: var(--navy-blue);
    }
}
.header-list {
    gap: 40px;
}
.nav-link {
    color: var(--navy-blue);
    position: relative;
    font-weight: 500;
    transition: color var(--animation);
}
.address-link {
    color: var(--slate);
    transition: color var(--animation);
}
.header-link {
    padding: 24px 0;
    display: block;
}
.active {
    color: var(--ocean);
}
.active::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--ocean);
    border-radius: 2px;
}

/* HERO STYLES */
.hero {
    margin: 0 auto;
    padding: 188px 0;
    color: #ffffff;
    background-image: linear-gradient(var(--grey), var(--grey)),
        url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-title {
    max-width: 496px;
}

.btn {
    margin: 0 auto;
    background-color: var(--iris);
    color: var(--white);
    border: none;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: var(--btn-l-space);
    cursor: pointer;
    transition: background-color var(--animation);
}
.order-btn {
    display: block;
    height: 56px;
    min-width: 169px;
    margin-top: 48px;
}
.modal-form .submit-btn {
    display: block;
    padding: 16px 32px;
    justify-content: center;
    min-width: 169px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.15);
    font-size: 16px;
}

/* FEATURES STYLES */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-icon {
    display: flex;
    align-items: center;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}
.feature-icon .icon {
    margin: 24px;
    fill: #2e2f42;
}

/* LIST CONFIGURE */
.list {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.card-list {
    gap: 24px;
}
.team .c-width,
.features .c-width {
    width: calc((100% - 72px) / 4);
}
.card {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}
.team .card-content {
    padding: 32px 0;
    text-align: center;
}
.team .social-icons-list {
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}
.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color var(--animation);
}
.icon {
    fill: var(--cloud);
}

/* TEAM & PORTFOLIO STYLES */
.team {
    background-color: var(--cloud);
}
.team .card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio {
    .c-width {
        width: calc((100% - 48px) / 3);
    }
}
.portfolio .card-content {
    border: 1px solid var(--cornflower);
    text-align: left;
    border-top: none;
    padding: 32px 16px;
}
.multi-row {
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio .card {
    transition: box-shadow var(--animation);
}
.portfolio .info-slider {
    position: relative;
    overflow: hidden;
}
.portfolio .info-slider .app-info {
    position: absolute;
    top: 0;

    background-color: var(--iris);
    color: var(--cloud);
    height: 100%;
    width: 100%;
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: var(--l-l-space);

    transform: translateY(100%);
    transition: transform var(--animation);
}
/* FOOTER STYLES */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
    color: var(--cloud);

    .logo-span {
        color: var(--cloud);
    }
    .text {
        max-width: 264px;
    }
}
.footer .container {
    align-items: baseline;
}
.footer-info {
    margin-right: 120px;
}
.footer .logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-links-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: var(--l-l-space);
    color: var(--white);
    margin-bottom: 16px;
}
.footer .social-icons-list {
    gap: 16px;
}

/* ACTION STYLES */
.header-link:hover,
.header-link:focus {
    color: var(--ocean);
}

.hero .order-btn:hover,
.hero .order-btn:focus,
.team .social-icon-link:hover,
.team .social-icon-link:focus {
    background-color: var(--ocean);
}
.footer .social-icon-link:hover,
.footer .social-icon-link:focus {
    background-color: var(--green);
}
.portfolio .card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio .card:hover .app-info {
    transform: translateY(0);
}

.subscribe {
    margin-left: 80px;
}

.subscribe-form {
    gap: 24px;
}
.subscribe-form .input {
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    min-width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
}
.subscribe-form .input::placeholder {
    color: var(--white);
}
.subscribe-form .submit-btn {
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.subscribe-form .icon {
    margin-left: 16px;
}
/* FORM */

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation), visibility var(--animation);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animation);
    overflow-y: auto;
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color var(--animation), border var(--animation);
}
.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean);
    border: none;
}
.close-btn .icon {
    fill: var(--navy-blue);
    transition: fill var(--animation);
}
.close-btn:hover .icon,
.close-btn:focus .icon {
    fill: var(--white);
}
.title {
    font-size: 16px;
    letter-spacing: var(--l-l-space);
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--navy-blue);
}

.modal-form .field {
    margin-bottom: 8px;
}
.modal-form .comment-field {
    margin-bottom: 16px;
}
.modal-form .label {
    display: block;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.modal-form .field-container {
    position: relative;
}
.modal-form .textarea {
    width: 100%;
    resize: unset;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
    outline: transparent;
    border: 1px solid var(--navy-blue-modal);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color var(--animation);
}
.modal-form .field-container .icon {
    fill: var(--navy-blue);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--animation);
}

.modal-form .input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--animation);
}
.modal-form .field-container .input:focus-within,
.modal-form .comment-field .textarea:focus-within {
    border-color: var(--iris);
}
.policy-check-container {
    margin-bottom: 24px;
}
.modal-form .custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;
    transition: background-color var(--animation), border var(--animation),
        fill var(--animation);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.policy-check-container .icon {
    fill: var(--navy-blue);
}
.modal-form .checkbox:checked + .label .custom-checkbox {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}
.policy-check-container .underline {
    text-decoration: underline;
}
.modal-form .field-container:focus-within .icon {
    fill: var(--iris);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--ocean);
}
