@import url(base.css);
@import url(reset.css);

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--l-l-space);
    background-color: var(--white);
}
img {
    display: block;
    width: 100%;
}
/* GLOBAL TAGS STYLES */
a,
a:active {
    color: var(--iris);
}

/* TEXT STYLES */
.main-title {
    line-height: 1.07;
    letter-spacing: var(--l-l-space);
    margin: 0 auto;
    text-align: center;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: var(--l-l-space);
    text-transform: capitalize;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 72px;
}
.element-title {
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--navy-blue);
    letter-spacing: var(--l-l-space);
}
.text {
    font-size: 16px;
}

/* ELEMENTS STYLES */
.section {
    padding: 120px 0;
}

.column {
    flex-direction: column;
}
.flex {
    display: flex;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* HEADER STYLES */
.nav {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    .address {
        font-style: normal;
    }
    .logo-span {
        color: var(--navy-blue);
    }
}

.nav-link {
    color: var(--navy-blue);
    position: relative;
    font-weight: 500;
    transition: color var(--animation);
}
.address-link {
    color: var(--slate);
    transition: color var(--animation);
}
.header-link {
    padding: 24px 0;
    display: block;
}
.active {
    color: var(--ocean);
}
.active::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--ocean);
    border-radius: 2px;
}

/* HERO STYLES */
.hero {
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
    color: #ffffff;
    background-image: linear-gradient(var(--grey), var(--grey)),
        url(../images/1x/ph/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
            url(../images/1x/tb/hero-bg.jpg);
    }
}
@media (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
            url(../images/1x/pc/hero-bg.jpg);
    }
}

@media (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
            url(../images/2x/ph/hero-bg-2x.jpg);
    }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
            url(../images/2x/tb/hero-bg-2x.jpg);
    }
}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
            url(../images/2x/pc/hero-bg-2x.jpg);
    }
}

.btn {
    margin: 0 auto;
    background-color: var(--iris);
    color: var(--white);
    border: none;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: var(--btn-l-space);
    cursor: pointer;
    transition: background-color var(--animation);
}
.order-btn {
    display: block;
    height: 56px;
    min-width: 169px;
    margin-top: 72px;
}
.modal-form .submit-btn {
    display: block;
    padding: 16px 32px;
    justify-content: center;
    min-width: 169px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.15);
    font-size: 16px;
}

/* FEATURES STYLES */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-icon {
    display: none;
    align-items: center;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}
.feature-icon .icon {
    margin: 24px;
    fill: #2e2f42;
}

/* LIST CONFIGURE */
.list {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.card-list {
    gap: 72px;
}
.team .c-width {
    width: 264px;
}
.card {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}
.team .card-content {
    padding: 32px 0;
    text-align: center;
}
.team .social-icons-list {
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}
.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color var(--animation);
}
.icon {
    fill: var(--cloud);
}

/* TEAM & PORTFOLIO STYLES */
.team {
    background-color: var(--cloud);
}
.team .card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio .card-content {
    border: 1px solid var(--cornflower);
    text-align: left;
    border-top: none;
    padding: 32px 16px;
}
.multi-row {
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio .card {
    transition: box-shadow var(--animation);
}
.portfolio .info-slider {
    position: relative;
    overflow: hidden;
}
.portfolio .info-slider .app-info {
    position: absolute;
    top: 0;

    background-color: var(--iris);
    color: var(--cloud);
    height: 100%;
    width: 100%;
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: var(--l-l-space);

    transform: translateY(100%);
    transition: transform var(--animation);
}
/* FOOTER STYLES */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
    color: var(--cloud);

    .logo-span {
        color: var(--cloud);
    }
    .text {
        max-width: 264px;
    }
}
.footer .container {
    align-items: baseline;
}
.footer .logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-links-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: var(--l-l-space);
    color: var(--white);
    margin-bottom: 16px;
}
.footer .social-icons-list {
    gap: 16px;
}

/* ACTION STYLES */
.header-link:hover,
.header-link:focus {
    color: var(--ocean);
}

.hero .order-btn:hover,
.hero .order-btn:focus,
.team .social-icon-link:hover,
.team .social-icon-link:focus {
    background-color: var(--ocean);
}
.footer .social-icon-link:hover,
.footer .social-icon-link:focus {
    background-color: var(--green);
}
.portfolio .card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio .card:hover .app-info {
    transform: translateY(0);
}

.subscribe-form {
    gap: 24px;
}
.subscribe-form .input {
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    min-width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
}
.subscribe-form .input::placeholder {
    color: var(--white);
}
.subscribe-form .submit-btn {
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.subscribe-form .icon {
    margin-left: 16px;
}
/* FORM */

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation), visibility var(--animation);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animation);
    overflow-y: auto;
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color var(--animation), border var(--animation);
}
.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean);
    border: none;
}
.close-btn .icon {
    fill: var(--navy-blue);
    transition: fill var(--animation);
}
.close-btn:hover .icon,
.close-btn:focus .icon {
    fill: var(--white);
}
.title {
    font-size: 16px;
    letter-spacing: var(--l-l-space);
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--navy-blue);
}

.modal-form .field {
    margin-bottom: 8px;
}
.modal-form .comment-field {
    margin-bottom: 16px;
}
.modal-form .label {
    display: block;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.accept-text {
    display: block;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-form .field-container {
    position: relative;
}
.modal-form .textarea {
    width: 100%;
    resize: unset;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
    outline: transparent;
    border: 1px solid var(--navy-blue-modal);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color var(--animation);
}
.modal-form .field-container .icon {
    fill: var(--navy-blue);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--animation);
}

.modal-form .input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--animation);
}
.modal-form .field-container .input:focus-within,
.modal-form .comment-field .textarea:focus-within {
    border-color: var(--iris);
}
.policy-check-container {
    margin-bottom: 24px;
}
.modal-form .custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.policy-check-container .icon {
    fill: var(--white);
    transition: opacity var(--animation);
    transition: background-color var(--animation);
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
}

.modal-form .checkbox:checked + .accept-text .custom-checkbox .icon {
    opacity: 1;
    background-color: var(--ocean);
}

.policy-check-container .underline {
    text-decoration: underline;
}
.modal-form .field-container:focus-within .icon {
    fill: var(--iris);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--ocean);
}

.header > * > .address,
.header > * > * > .header-list {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header .logo {
    padding: 16px 0;
}
.header .container {
    position: relative;
}
.hamburger-menu {
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--navy-blue);
    }
    .menu__btn > span::before {
        content: "";
        top: -8px;
    }
    .menu__btn > span::after {
        content: "";
        top: 8px;
    }
    .menu__box {
        position: fixed;
        top: 0;
        visibility: hidden;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: var(--white);
    }
    .menu__box .container {
        max-width: 320px;
        padding: 72px 16px 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header-link {
        padding: 0;
    }
    .nav .list {
        flex-direction: column;
        gap: 40px;
        font-size: 36px;
    }
    .nav {
        margin-bottom: auto;
    }
    .address .list {
        font-size: 20px;
        flex-direction: column;
        gap: 24px;
    }
    .address {
        margin-bottom: 48px;
    }
    .social-icons-list {
        gap: 40px;
        max-width: 280px;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #cfd8dc;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        display: none;
    }
    #menu__toggle:checked ~ .menu__btn {
        right: 29px;
        top: 24px;
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
}

.header .container {
    justify-content: space-between;
}
.header .nav {
    justify-content: space-between;
}

.nav .header-list,
.address .header-list {
    gap: 40px;
}
.section {
    padding: 96px 0;
}
.hero .main-title {
    font-size: 36px;
    width: 216px;
}
.features .card-list {
    flex-wrap: wrap;
    justify-content: center;
}
.features .c-width {
    max-width: 400px;
}
.features .element-title {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
}
.features .text {
    font-weight: 500;
}
.team .card-list {
    justify-content: center;
    flex-wrap: wrap;
}
.team .card-list .card {
    margin-left: calc((100% - 264px) / 2);
    margin-right: calc((100% - 264px) / 2);
}
.portfolio {
    .list {
        justify-content: center;
    }
    .c-width {
        width: 100%;
    }
}
.footer {
    padding: 96px 0;
}
.footer .container {
    flex-wrap: wrap;
}

.footer .first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
.footer .first-row {
    width: 100%;
    margin-bottom: 72px;
}
.footer .logo,
.footer-links-title {
    width: 100%;
    text-align: center;
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
}
.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accept-text {
    align-items: center;
    display: flex;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.header .logo {
    margin-right: 76px;
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .header .logo {
        padding: 0;
    }
    .hamburger-menu {
        display: none;
    }
    .header > * > .address,
    .header > * > * > .header-list {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        clip-path: inherit;
    }
    .address {
        align-content: center;
    }
    .address .header-list {
        gap: 12px;
        max-width: 120px;
        flex-wrap: wrap;
    }
    .address .header-link {
        font-size: 12px;
        padding: 0;
        width: 100%;
    }

    .hero .main-title {
        width: 496px;
        font-size: 56px;
    }
    .order-btn {
        margin-top: 36px;
    }
    .features .c-width {
        width: calc((100% - 24px) / 2);
    }
    .features .element-title {
        text-align: start;
    }
    .card-list {
        column-gap: 24px;
    }
    .team .card-list {
        row-gap: 64px;
    }
    .portfolio .card-list {
        row-gap: 72px;
    }
    .team .card-list .card {
        margin: 0;
    }
    .team .card-list .card:nth-of-type(2) {
        margin-right: calc((100% - 264px * 2 - 24px) / 4);
    }
    .team .card-list .card:nth-of-type(1) {
        margin-left: calc((100% - 264px * 2 - 24px) / 4);
    }
    .portfolio {
        .c-width {
            width: calc((100% - 24px) / 2);
        }
    }
    .footer .container {
        padding-left: 108px;
    }
    .footer .first-row {
        gap: 24px;
    }
    .footer .first-row {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .footer-info {
        margin: 0;
    }
    .footer .logo,
    .footer-links-title {
        text-align: start;
    }
    .subscribe {
        display: block;
        max-width: 100%;
        margin: 0;
    }
    .subscribe .input {
        min-width: 264px;
    }
    .subscribe-form {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .address .header-list {
        gap: 40px;
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .address .header-link {
        font-size: 16px;
    }
    .order-btn {
        margin-top: 48px;
    }
    .features .feature-icon {
        display: flex;
    }
    .features .c-width {
        width: calc((100% - 72px) / 4);
    }
    .features .feature-icon {
        display: flex;
    }
    .features .element-title {
        font-weight: 500;
        font-size: 20px;
    }
    .features .text {
        font-weight: 400;
    }
    .portfolio .card-list {
        row-gap: 48px;
    }
    .portfolio {
        .c-width {
            width: calc((100% - 48px) / 3);
        }
    }
    .section {
        padding: 120px 0;
    }
    .header {
        .address {
            margin-left: 332px;
            font-style: normal;
        }
    }
    .team .card-list .card:nth-of-type(2),
    .team .card-list .card:nth-of-type(1) {
        margin: 0;
    }

    .portfolio .card {
        box-shadow: none;
    }
    .portfolio .card:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .footer {
        padding: 100px 0;
    }
    .footer .container {
        padding: 0 15px;
        flex-wrap: nowrap;
    }
    .footer-info {
        margin-right: 120px;
    }
    .footer .first-row {
        gap: 0;
        margin: 0;
    }
    .subscribe {
        margin-left: 80px;
    }
}
.iris {
    color: var(--iris);
}
